.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #612897;
}
.current-page {
    /* color:#FF5580; */
    color: #C65BCF;
    pointer-events: none;
}
h1, h2 {
    /* color: #FF0080; */
    color: #612897;
}
h3 {
    /* color: #FF5580; */
    color: #0C1E7F;
}
p {
    /* color: #FFAA80; */
    color: #0C1E7F;
}
#cr {
    /* color: #FF5580; */
    color: white;
}