* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav {
    border-bottom: 1px solid lightgray;
}
.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
}
.navbar li {
    list-style-type: none;
    padding: 1rem;
}
.navbar a {
    text-decoration: none;
}
.website-name {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    color: coral;
}
.current-page {
    color: coral;
}
.navbar-toggle {
    display: none;
}
.navbar-links:hover a {
    color: coral;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 170vh;
    color: gray;
}
.page-title {
    font-size: 1.5rem;
    color: coral;
}
.devanne {
    height: 300px;
    border-radius: 50%;
}
.paragraph {
    width: 50%;
}
.pdf {
    width: 25%; 
    height: 400px;
}
@media (max-width: 600px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-links {
        border-top: 1px solid lightgray;
    }
    .navbar-toggle {
        display: block;
        color: coral;
        font-size: 1.5rem;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200vh;
        color: gray;
    }
    .devanne {
        height: 270px;
        border-radius: 50%;
    }
    .paragraph {
        width: 70%;
    }
    .pdf {
        width: 70%; 
        height: 400px;
    }
}