.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #612897;
}
.current-page {
    /* color:#FF5580; */
    color: #C65BCF;
    pointer-events: none;
}
h1, h2 {
    /* color: #FF0080; */
    color: #612897;
}
.text-btn {
    /* background-color: #FF5580; */
    background-color: #FF008E;
}
.text-btn:hover {
    background-color: #612897;
}
.facebook-btn {
    /* border-color: #FFAA80;
    color: #FFAA80; */
    border-color: #612897;
    color: #612897;
}
.facebook-btn:hover {
    border-color: #FF008E;
    color: #FF008E;
}
h3 {
    /* color: #FF5580; */
    color: #0C1E7F;
}
p {
    /* color: #FFAA80; */
    color: #0C1E7F;
}
#cr {
    /* color: #FF5580; */
    color: white;
}
.mail-to {
    text-decoration: none;
    color: #FF008E;
    font-weight: bold;
}