html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #85dce7;
}
.current-page {
    /* color:#FF5580; */
    color: #0188a3;
    pointer-events: none;
}
h1, h2 {
    /* color: #FF0080; */
    color: #0188a3;
}
.h5 {
    /* color: #FF5580; */
    color: palevioletred;
}
strong {
    color: palevioletred;
}
p, li {
    /* color: #FFAA80; */
    color: #0188a3;
}
#cr {
    /* color: #FF5580; */
    color: white;
}
.booking-btn {
    /* background-color: #FF5580; */
    background-color: palevioletred;
}
.booking-btn:hover {
    background-color: #0188a3;
}
.service-btn {
    /* border-color: #FFAA80;
    color: #FFAA80; */
    border-color: #0188a3;
    color: #0188a3;
}
.service-btn:hover {
    border-color: palevioletred;
    color: palevioletred;
}