.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #85dce7;
}
h1, h2 {
    /* color: #FF0080; */
    color: #0188a3;
}
h3 {
    /* color: #FF5580; */
    color: #0188a3;
}
p {
    /* color: #FFAA80; */
    color: #0188a3;
}
.accordion-button, #video-link {
    color: palevioletred;
}
.accordion-body{
    color: #0188a3;
}
.accordion-body > strong {
    color: palevioletred;
}
#cr {
    color: white;
}