h1 {
    color: #FF0080;;
}
h2, h3 {
    color: #FF5580;
}
p {
    color: #FFAA80;
}
.add-ons, .paw-care {
    list-style: none;
    padding: 0;
}
.add-ons > li.add-on-item, .paw-care > li.paw-care-item {
    color: #FFAA80;
}
#price {
    color: #FF5580;
}
#video-link {
    text-decoration: none;
}
.accordion-button, #video-link {
    color: #FF0080;
}
.accordion-body{
    color: #FFAA80;
}
.accordion-body > strong {
    color: #FF0080;
}