.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #612897;
}
.current-page {
    /* color:#FF5580; */
    color: #C65BCF;
    pointer-events: none;
}
h1, h2 {
    /* color: #FF0080; */
    color: #612897;
}
h3 {
    /* color: #FF5580; */
    color: #0C1E7F;
}
h4 {
    color: #FF008E;
}
p, li {
    /* color: #FFAA80; */
    color: #0C1E7F;
}
#cr {
    /* color: #FF5580; */
    color: white;
}
#price {
    color: #FF008E;
}
#video-link {
    text-decoration: none;
}
.accordion-button, #video-link {
    color: #FF008E;
}
.accordion-body{
    color: #0C1E7F;
}
.accordion-body > strong {
    color: #FF008E;
}