html {
    scroll-behavior: smooth;
}
.bgcfill {
    /* background-color:#FFAA80; */
    background-color: #85dce7;
}
.current-page {
    /* color:#FF5580; */
    color: #0188a3;
    pointer-events: none;
}
h1, h2 {
    /* color: #FF0080; */
    color: #0188a3;
}
h3 {
    /* color: #FF5580; */
    color: #0188a3;
}
.booking-btn {
    /* background-color: #FF5580; */
    background-color: palevioletred;
}
.booking-btn:hover {
    background-color: #0188a3;
}
.service-btn {
    /* border-color: #FFAA80;
    color: #FFAA80; */
    border-color: #0188a3;
    color: #0188a3;
}
.service-btn:hover {
    border-color: palevioletred;
    color: palevioletred;
}
p {
    /* color: #FFAA80; */
    color: #0188a3;
}
.icon > svg {
    /* fill: #FF5580; */
    fill: palevioletred;
}
#cr {
    /* color: #FF5580; */
    color: white;
}